<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">{{vm.patient.FirstName}} {{vm.patient.LastName}}</h1>
      <span class="mainDescription">
        {{vm.patient.Address}}
        </small></span>
    </div>

  </div>
</section>
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title">اطلاعات بیمار</h4>
        </div>
        <div class="panel-body">
          <p class="text-small margin-bottom-20">
            مشخصات بیمار را به درستی درج نمایید
          </p>


          <form role="form" data-parsley-validate class="form-horizontal" name="vm.form.patientForm"  >
            <div class="form-group" show-errors>
              <label class="col-sm-2" for="FirstName">نام
                <span class="required">*</span>
              </label>
              <div class="col-sm-10 col-xs-12">
                <input type="text" ng-model="vm.patient.FirstName" id="FirstName" name="FirstName" required
                       class="form-control ">
              </div>
              <div ng-messages="vm.form.patientForm.FirstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Patient First Name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="col-sm-2" for="LastName">نام
                خانوادگی <span class="required">*</span>
              </label>
              <div class="col-sm-10 col-xs-12">
                <input type="text" ng-model="vm.patient.LastName" id="LastName" name="LastName" required
                       class="form-control ">
              </div>
              <div ng-messages="vm.form.patientForm.LastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Patient Last Name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="PatientCode" class="control-label col-sm-2">
                شماره پرونده
              </label>
              <div class="col-sm-10 col-xs-12">
                <input ng-model="vm.patient.PatientCode" id="PatientCode" required class="form-control" type="text"
                       name="PatientCode">
              </div>
              <div ng-messages="vm.form.patientForm.PatientCode.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Patient Code Name is required.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="Age" class="control-label col-sm-2">
                سن بیمار
              </label>
              <div class="col-sm-10 col-xs-12">
                <input ng-model="vm.patient.Age" id="Age" class="form-control" type="text"
                       name="Age">
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="ShoeSize" class="control-label col-sm-2">
                سایز کفش
              </label>
              <div class="col-md-10 ">
                <input ng-model="vm.patient.ShoeSize" id="ShoeSize"  class="form-control" type="text"
                       name="ShoeSize">
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="Weight" class="control-label col-sm-2">
                وزن
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.Weight" id="Weight"  class="form-control" type="text"
                       name="Weight">
              </div>

            </div>

            <div class="form-group" show-errors>
              <label for="Phone" class="control-label col-sm-2">
                شماره تلفن
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.Phone" id="Phone" class="form-control" type="text"
                       name="Phone">
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="Email" class="control-label col-sm-2">
                ای میل
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.Email" id="Email"  class="form-control" type="text"
                       name="Email">
              </div>

            </div>

            <div class="form-group" show-errors>
              <label for="City" class="control-label col-sm-2">
                شهر
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.City" id="City"  class="form-control" type="text"
                       name="City">
              </div>

            </div>

            <div class="form-group" show-errors>
              <label for="PostalCode" class="control-label col-sm-2">
                کد پستی
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.PostalCode" id="PostalCode"  class="form-control" type="text"
                       name="PostalCode">
              </div>

            </div>

            <div class="form-group" show-errors>
              <label for="Address" class="control-label col-sm-2">
                آدرس
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.Address" id="Address"  class="form-control" type="text"
                       name="Address">
              </div>

            </div>

            <div class="form-group" show-errors>
              <label for="Memo" class="control-label col-sm-2">
                توضیحات
              </label>
              <div class="col-sm-10">
                <input ng-model="vm.patient.Memo" id="Memo" class="form-control" type="text"
                       name="Memo">
              </div>

            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">

                <small class="text-navy">جنسیت</small>
              </label>

              <div class="col-sm-10">
                <div class="radio">
                  <label>
                    <input type="radio" id="optionsRadios1" value="Female" ng-model="vm.form.patientForm.Gender"
                           name="optionsRadios">زن
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" value="Male" id="optionsRadios2" ng-model="vm.form.patientForm.Gender"
                           name="optionsRadios"> مرد
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">تاریخ تولد <span
                      class="required">*</span>
              </label>
              <div class="col-sm-10">
                <input id="birthday" class="date-picker form-control"
                       required="required" type="text">
              </div>
            </div>
            <div class="ln_solid"></div>

          </form>
        </div>

      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-white" >
        <div class="panel-heading border-light">
          <h4 class="panel-title">لیست آزمایشهای بیمار</h4>
          <!--<ul class="panel-heading-tabs border-light">-->
            <!--<li>-->
              <!--<form >-->
                <!--<select ng-model="vm.software">-->
                  <!--<option value="PT-InsoleDesign">PT-InsoleDesign</option>-->
                  <!--<option value="PT-InsoleDesign">PT-SCANSUIT</option>-->

                <!--</select>-->
                <!--<div ng-show="!vm.fileSelected" class="text-center form-group">-->
                  <!--<button class="btn btn-default btn-file" ngf-change="vm.upload(patientFile)" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="patientFile"  ngf-before-model-change="vm.loading = true" >افزودن فایل</button>-->
                <!--</div>-->

                <!--<div ng-show="vm.fileSelected" class="progress text-center">-->
                  <!--<div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">-->
                    <!--<span class="sr-only">{{vm.progress}}% Complete</span>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</form>-->
            <!--</li>-->
            <!--<li>-->
              <!--<div class="pull-right">-->
                <!--<div class="btn-group" dropdown="">-->
                  <!--<a type="button" href="/api/patients/download/last/{{vm.patient._id}}" class="btn btn-primary dropdown-toggle" >-->
                    <!--دانلود <span class="fa fa-download"></span>-->
                  <!--</a>-->

                <!--</div>-->
              <!--</div>-->
            <!--</li>-->

          <!--</ul>-->
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>نام تست</th>
              <th>اصلی/آپدیت</th>
              <th>تاریخ</th>
              <th>عملیات</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="record in patientRecords track by $index">
              <th scope="row">{{$index}}</th>
              <td>{{record.name}}</td>
              <td>{{record.type}}</td>
              <td>{{record.created}}</td>
              <td><a target="_blank" href="/api/records/download/{{record._id}}"><span class="fa fa-download"></span></a></td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
