<ul class="nav navbar-right" ng-controller="HeaderController as vm">
  <!-- start: MESSAGES DROPDOWN -->
  <li>
    <a href class="dropdown-toggle" data-toggle="dropdown">
      <i class="ti-credit-card"></i>
      اعتبار
      {{vm.authentication.user.credit | currency: '' : 0}}
تومان
    </a>

  </li>
  <!--<li>-->
    <!--<a href class="dropdown-toggle" data-toggle="dropdown">-->
      <!--<i class="ti-credit-card"></i>-->
      <!--اعتبار بسته-->
      <!--{{vm.authentication.user.creditPlan.price | currency: '' : 0}}-->
<!--تومان-->
    <!--</a>-->

  <!--</li>-->
  <li>
    <a href >
      <i class="ti-calendar"></i>
      روز
      <!--{{vm.remainingDate|number:6}}-->
      <!--{{vm.authentication.user.creditPlan.expire }}-->
      {{Math.ceil(vm.authentication.user.remainingDate)}}
      <!--{{(vm.authentication.user.remainingDate)|number:6}}-->
      <!--{{moment(moment(), "DD-MM-YYYY") - vm.authentication.user.creditPlan.created }}-->

    </a>

  </li>
  <li>
    <a href >
      <i class="ti-shopping-cart"></i>
      سفارش
      {{vm.authentication.user.creditPlan.totalorder }}
    </a>

  </li>
  <li>
    <a href>
      <i class="ti-hummer"></i>
      gcode
      {{vm.authentication.user.gcodePlan.totalorder}}
    </a>

  </li>
  <!--<li class="dropdown" ng-show="vm.authentication.user">-->
    <!--<a href class="dropdown-toggle" data-toggle="dropdown">-->
      <!--<span class="dot-badge partition-red"></span> <i class="ti-comment"></i> <span>MESSAGES</span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">-->
      <!--<li>-->
        <!--<span class="dropdown-header"> Unread messages</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="drop-down-wrapper ps-container">-->
          <!--<ul>-->
            <!--<li class="unread">-->
              <!--<a href="javascript:;" class="unread">-->
                <!--<div class="clearfix">-->
                  <!--<div class="thread-image">-->
                    <!--<img src="./assets/images/avatar-2.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="thread-content">-->
                    <!--<span class="author">Nicole Bell</span>-->
                    <!--<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>-->
                    <!--<span class="time"> Just Now</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;" class="unread">-->
                <!--<div class="clearfix">-->
                  <!--<div class="thread-image">-->
                    <!--<img src="./assets/images/avatar-3.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="thread-content">-->
                    <!--<span class="author">Steven Thompson</span>-->
                    <!--<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>-->
                    <!--<span class="time">8 hrs</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<div class="clearfix">-->
                  <!--<div class="thread-image">-->
                    <!--<img src="./assets/images/avatar-5.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="thread-content">-->
                    <!--<span class="author">Kenneth Ross</span>-->
                    <!--<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>-->
                    <!--<span class="time">14 hrs</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li class="view-all">-->
        <!--<a href="#">-->
          <!--See All-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li >-->
  <!--&lt;!&ndash; end: MESSAGES DROPDOWN &ndash;&gt;-->
  <!--&lt;!&ndash; start: ACTIVITIES DROPDOWN &ndash;&gt;-->
  <!--<li class="dropdown" ng-show="vm.authentication.user">-->
    <!--<a href class="dropdown-toggle" data-toggle="dropdown">-->
      <!--<i class="ti-check-box"></i> <span>ACTIVITIES</span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">-->
      <!--<li>-->
        <!--<span class="dropdown-header"> You have new notifications</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="drop-down-wrapper ps-container">-->
          <!--<div class="list-group no-margin">-->
            <!--<a class="media list-group-item" href="">-->
              <!--<img class="img-circle" alt="..." src="assets/images/avatar-1.jpg">-->
              <!--<span class="media-body block no-margin"> Use awesome animate.css <small class="block text-grey">10 minutes ago</small> </span>-->
            <!--</a>-->
            <!--<a class="media list-group-item" href="">-->
              <!--<span class="media-body block no-margin"> 1.0 initial released <small class="block text-grey">1 hour ago</small> </span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li class="view-all">-->
        <!--<a href="#">-->
          <!--See All-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->
  <!--&lt;!&ndash; end: ACTIVITIES DROPDOWN &ndash;&gt;-->
  <!--&lt;!&ndash; start: LANGUAGE SWITCHER &ndash;&gt;-->
  <!--<li class="dropdown" ng-show="vm.authentication.user">-->
    <!--<a href class="dropdown-toggle" data-toggle="dropdown">-->
      <!--<i class="ti-world"></i> English-->
    <!--</a>-->
    <!--<ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">-->
      <!--<li>-->
        <!--<a href="#" class="menu-toggler">-->
          <!--Deutsch-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" class="menu-toggler">-->
          <!--English-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" class="menu-toggler">-->
          <!--Italiano-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->
  <!--&lt;!&ndash; start: LANGUAGE SWITCHER &ndash;&gt;-->
  <!--&lt;!&ndash; start: USER OPTIONS DROPDOWN &ndash;&gt;-->
  <li class="dropdown " ng-hide="vm.authentication.user">
    <a href class="dropdown-toggle" data-toggle="dropdown">
      <i class="ti-user"></i> ورود
    </a>
    <ul role="menu" class="dropdown-menu dropdown-dark" >

    <li ui-sref-active="active">
      <a ui-sref="authentication.signup">ثبت نام</a>
    </li>
    <li class="divider-vertical"></li>
    <li ui-sref-active="active">
      <a ui-sref="authentication.signin">ورود</a>
    </li>
  </ul>
  </li>
  <li class="dropdown current-user" ng-show="vm.authentication.user">

    <a href class="dropdown-toggle" data-toggle="dropdown">
      <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"  />
      <span class="username"ng-bind="vm.authentication.user.displayName"></span > <b class="ti-angle-down"></b>
    </a>
    <ul class="dropdown-menu dropdown-dark">
      <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
        <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
      <li>
        <a href="/api/auth/signout" target="_self">خروج<i class="fa fa-sign-out pull-right"></i></a>
      </li>
    </ul>
  </li>
  <!-- end: USER OPTIONS DROPDOWN -->
</ul>

<div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
  <div class="arrow-left"></div>
  <div class="arrow-right"></div>
</div>
