
        <!-- start: SEARCH FORM -->
        <!--<div class="search-form">-->
            <!--<a class="s-open" href="#">-->
                <!--<i class="ti-search"></i>-->
            <!--</a>-->
            <!--<form class="navbar-form" role="search">-->
                <!--<a class="s-remove" href="#" target=".navbar-form">-->
                    <!--<i class="ti-close"></i>-->
                <!--</a>-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                    <!--<button class="btn search-button" type="submit">-->
                        <!--<i class="ti-search"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!-- end: SEARCH FORM -->
        <!-- start: MAIN NAVIGATION MENU -->
        <div class="navbar-title">
            <span></span>
        </div>

        <ul class="main-navigation-menu" ng-controller="HeaderController as vm">
            <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" >
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="{{::item.icon}}"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> {{::item.title}} </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>

                <ul class="sub-menu">
                    <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                        <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
                    </li>
                </ul>
            </li>

        </ul>

        <!-- end: MAIN NAVIGATION MENU -->
        <!-- start: CORE FEATURES -->
        <!--<div class="navbar-title">-->
            <!--<span>Core Features</span>-->
        <!--</div>-->
        <!--<ul class="folders">-->
            <!--<li>-->
                <!--<a href="pages_calendar.html">-->
                    <!--<div class="item-content">-->
                        <!--<div class="item-media">-->
                            <!--<span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>-->
                        <!--</div>-->
                        <!--<div class="item-inner">-->
                            <!--<span class="title"> Calendar </span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="pages_messages.html">-->
                    <!--<div class="item-content">-->
                        <!--<div class="item-media">-->
                            <!--<span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>-->
                        <!--</div>-->
                        <!--<div class="item-inner">-->
                            <!--<span class="title"> Messages </span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; end: CORE FEATURES &ndash;&gt;-->
        <!--&lt;!&ndash; start: DOCUMENTATION BUTTON &ndash;&gt;-->
        <!--<div class="wrapper">-->
            <!--<a href="documentation.html" class="button-o">-->
                <!--<i class="ti-help"></i>-->
                <!--<span>Documentation</span>-->
            <!--</a>-->
        <!--</div>-->
        <!-- end: DOCUMENTATION BUTTON -->

<!--<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"  >-->

    <!--<div class="menu_section">-->
        <!--<h3>عمومی</h3>-->

        <!--<ul class="nav side-menu" >-->
            <!--&lt;!&ndash;<li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" >&ndash;&gt;-->
                <!--&lt;!&ndash;<a> {{::item.title}} <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->

            <!--&lt;!&ndash;<li><a><i class="fa fa-home"></i> خانه <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="index.html">داشبورد</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="index2.html">داشبورد ۲</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="index3.html">داشبورد ۳</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a><i class="fa fa-edit"></i> فرم <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form.html">فرم عمومی</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form_advanced.html">قطعات پیشرفته</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form_validation.html">فرم اعتبار سنجی</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form_wizards.html">فرم جادوگر</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form_upload.html">فرم بارگذاری</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form_buttons.html">فرم کلید ها</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a><i class="fa fa-desktop"></i> عناصر ظاهری <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="general_elements.html">عناصر عمومی</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="media_gallery.html">گالری چندرسانه ای</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="typography.html">تایپو گرافی</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="icons.html">آیکون ها</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="glyphicons.html">Glyphicons</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="widgets.html">ابزارک</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="invoice.html">صورت حساب</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="inbox.html">صندوق</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="calendar.html">تقویم</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a><i class="fa fa-table"></i> جداول <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="tables.html">جداول</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="tables_dynamic.html">جدول پویا</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a><i class="fa fa-bar-chart-o"></i> ارائه داده <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="chartjs.html">Chart JS</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="chartjs2.html">Chart JS2</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="morisjs.html">Moris JS</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="echarts.html">ECharts</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="other_charts.html">چارت های دیگر</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a><i class="fa fa-clone"></i>طرح بندی <span class="fa fa-chevron-down"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav child_menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="fixed_sidebar.html">نوار کناری ثابت</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="fixed_footer.html">پاورقی ثابت</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="menu_section">-->
        <!--<h3>به صورت زنده</h3>-->
        <!--<ul class="nav side-menu">-->
            <!--<li><a><i class="fa fa-bug"></i> صفحات اضافی <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                    <!--<li><a href="e_commerce.html">تجارت الکترونیک</a></li>-->
                    <!--<li><a href="projects.html">پروژه ها</a></li>-->
                    <!--<li><a href="project_detail.html">جزئیات پروژه</a></li>-->
                    <!--<li><a href="contacts.html">اطلاعات تماس</a></li>-->
                    <!--<li><a href="profile.html">نمایه</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a><i class="fa fa-windows"></i> افزودنیهای پیشنهاد شده <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                    <!--<li><a href="page_403.html">403 ارور</a></li>-->
                    <!--<li><a href="page_404.html">404 ارور</a></li>-->
                    <!--<li><a href="page_500.html">500 ارور</a></li>-->
                    <!--<li><a href="plain_page.html">صفحه ساده</a></li>-->
                    <!--<li><a href="login.html">صفحه ورود</a></li>-->
                    <!--<li><a href="pricing_tables.html">جداول قیمت</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a><i class="fa fa-sitemap"></i> منو چند سطحی <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                    <!--<li><a href="#level1_1">سطح یک</a>-->
                    <!--<li><a>سطح یک<span class="fa fa-chevron-down"></span></a>-->
                        <!--<ul class="nav child_menu">-->
                            <!--<li class="sub_menu"><a href="level2.html">سطح دو</a>-->
                            <!--</li>-->
                            <!--<li><a href="#level2_1">سطح دو</a>-->
                            <!--</li>-->
                            <!--<li><a href="#level2_2">سطح دو</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="#level1_2">سطح یک</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> صفحه مقصد <span class="label label-success pull-left">به زودی</span></a></li>-->
        <!--</ul>-->
    <!--</div>-->

<!--</div>-->
