<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="invoice">
        <div class="row invoice-logo">
          <div class="col-sm-6">
            <img alt="" src="assets/images/your-logo-here.png">
          </div>
          <div class="col-sm-6">
            <p class="text-dark">
              Order code:  {{vm.order.sid}}
              <br/>{{vm.order.created}} <small class="text-light">Order information</small>
            </p>
          </div>
        </div>
        <hr>
        <!--<div class="row">-->
          <!--<div class="col-sm-4">-->
            <!--<h4>مشخصات سفارش دهنده:</h4>-->
            <!--<div class="well">-->
              <!--<address>-->
                <!--<strong class="text-dark">{{vm.order.orderer.displayName}}</strong>-->
                <!--<br>-->
                <!--1 Infinite Loop-->
                <!--<br>-->
                <!--Cupertino, CA 95014-->
                <!--<br>-->
                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
              <!--</address>-->
              <!--<address>-->
                <!--<strong class="text-dark">ای-میل:</strong>-->
                <!--<a href="mailto:#">-->
                  <!--{{vm.order.orderer.email}}-->
                <!--</a>-->
              <!--</address>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<h4>We appreciate your business.</h4>-->
            <!--<div class="padding-bottom-30 padding-top-10 text-dark">-->
              <!--Thanks for being a customer.-->
              <!--A detailed summary of your invoice is below.-->
              <!--<br>-->
              <!--If you have questions, we're happy to help.-->
              <!--<br>-->
              <!--Email support@cliptheme.com or contact us through other support channels.-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-4 pull-right">-->
            <!--<h4>Payment Details:</h4>-->
            <!--<ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">-->
              <!--<li>-->
                <!--<strong>V.A.T Reg #:</strong> 233243444-->
              <!--</li>-->
              <!--<li>-->
                <!--<strong>Account Name:</strong> Company Ltd-->
              <!--</li>-->
              <!--<li>-->
                <!--<strong>SWIFT code:</strong> 1233F4343ABCDEW-->
              <!--</li>-->
              <!--<li>-->
                <!--<strong>DATE:</strong> 01/01/2014-->
              <!--</li>-->
              <!--<li>-->
                <!--<strong>DUE:</strong> 11/02/2014-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th> # </th>
                <th class="hidden-480">  Patient </th>
                <th class="hidden-480">  Doctor </th>
                <th class="hidden-480">  Designer </th>
                <th class="hidden-480"> Patient case code </th>
                <th class="hidden-480"> Order type </th>
                <th class="hidden-480"> With/Without design </th>
                <th class="hidden-480"> Order cost </th>
                <th> Total </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td> 1 </td>
                <td> {{vm.order.patient.FirstName}} {{vm.order.patient.LastName}} </td>
                <td class="hidden-480"> {{vm.order.orderer.displayName}} </td>
                <td class="hidden-480"> {{vm.order.cncUser.displayName}} </td>
                <td class="hidden-480"> {{vm.order.patient.PatientCode}} </td>
                <td class="hidden-480"> {{vm.order.pricePlan.name}} </td>
                <td >
                  <span ng-show="vm.order.doDesign" class="label label-success pull-right">Needs design</span>
                  <span ng-show="!vm.order.doDesign" class="label label-primary pull-right">Without design</span>
                </td>
                <td class="hidden-480"> {{vm.order.orderPrice}} </td>
                <td> {{vm.order.orderPrice}} </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 invoice-block">
            <ul class="list-unstyled amounts text-small">
              <li>
                <strong>Total:</strong> {{vm.order.orderPrice}}
              </li>
              <li>
                <strong>Discount:</strong> 0%
              </li>
              <li>
                <strong>Tax:</strong> 0%
              </li>

              <li class="text-extra-large text-dark margin-top-15" >
                <strong >Amount:</strong> {{vm.order.orderPrice}}
              </li>

            </ul>
            <br>
            <a onclick="javascript:window.print();" class="btn btn-lg btn-primary hidden-print">
              Print <i class="fa fa-print"></i>
            </a>
            <button ng-disabled="vm.order.status=='PAYED'" class="btn btn-lg btn-primary btn-o hidden-print" ng-click="vm.pay({orderId:vm.order._id})">
              Buy Now! <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="page-header">
    <h1 ng-bind="vm.order.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.order.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="orders.edit({ orderId: vm.order._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.order.created | jDate"></span>
      by
      <span ng-if="vm.order.user"
            ng-bind="vm.order.user.displayName"></span>
      <span ng-if="!vm.order.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.order.content"></p>
</section>
