<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle">لیست GCODE های خریداری شده</h1>

      </div>

    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover" id="sample-table-2">
          <thead>
          <tr>
            <th>ردیف</th>
            <th>هزینه پرداختی</th>
            <td>نام بیمار</td>
            <td>نام خانوادگی</td>
            <td>نام طراحی</td>
            <td>توضیحات</td>
            <th>تاریخ ایجاد</th>
            <th>وضعیت پرداخت</th>
            <th>دانلود</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="gcode in vm.pagedItems track by $index" >
            <td>{{$index+(vm.page*10)}}</td>
            <td>{{gcode.orderPrice |  currency: "تومان" : 0}}</td>
            <td>{{gcode.PatientFirstName}}</td>
            <td>{{gcode.PatientLastName}}</td>
            <td>{{gcode.InsoleTitle}}</td>
            <td>
              {{gcode.InsoleMemo}}
            -
              {{gcode.desc}}
            </td>
            <td>
              <span ng-bind="gcode.created | jDate"></span>
            </td>
            <td>
              <button class="btn btn-sm btn-blue" ui-sref="gcodes.view({gcodeId:gcode._id})" ng-show="gcode.status=='NOTPAYED'"><span >پرداخت نشده</span></button>
              <span class="label-success label" ng-show="gcode.status=='PAYED'">پرداخت شده</span>
            </td>
            <td>
              <a class="btn btn-sm btn-dark-yellow" href="gcodes/download/{{gcode._id}}" target="_blank" ng-show="gcode.status=='PAYED'">

                <span ><i class="fa fa-download"></i></span>
              </a>
            </td>

          </tr>

          </tbody>
        </table>
        <ul class="pagination margin-bottom-10">
          <li>
            <a href="#" ng-click="vm.nextPage(-1)">
              <i class="ti-arrow-right"></i>
              صفجه قبل
            </a>
          </li>
          <li ng-repeat="item in [].constructor(vm.pages) track by $index" ng-click="vm.pageChange($index)">
            <a href="#">
              {{$index+1}}
            </a>
          </li>
          <li>
            <a href="#" ng-click="vm.nextPage(1)">
              صفحه بعد
              <i class="ti-arrow-left"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </section>
</div>