<div class="container-fluid container-fullw bg-white" style="direction:ltr !important;">
  <div class="row">
    <div class="col-md-12">
      <div class="invoice">
        <div class="row invoice-logo">
          <div class="col-sm-6">
            <img alt="" src="assets/images/your-logo-here.png">
          </div>
          <div class="col-sm-6">
            <p class="text-dark">
             Receipt <small class="text-light"></small>
            </p>
          </div>
        </div>
        <hr>
        <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
        <!--<h4>مشخصات سفارش دهنده:</h4>-->
        <!--<div class="well">-->
        <!--<address>-->
        <!--<strong class="text-dark">{{vm.gcode.gcodeer.displayName}}</strong>-->
        <!--<br>-->
        <!--1 Infinite Loop-->
        <!--<br>-->
        <!--Cupertino, CA 95014-->
        <!--<br>-->
        <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
        <!--</address>-->
        <!--<address>-->
        <!--<strong class="text-dark">ای-میل:</strong>-->
        <!--<a href="mailto:#">-->
        <!--{{vm.gcode.gcodeer.email}}-->
        <!--</a>-->
        <!--</address>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<h4>We appreciate your business.</h4>-->
        <!--<div class="padding-bottom-30 padding-top-10 text-dark">-->
        <!--Thanks for being a customer.-->
        <!--A detailed summary of your invoice is below.-->
        <!--<br>-->
        <!--If you have questions, we're happy to help.-->
        <!--<br>-->
        <!--Email support@cliptheme.com or contact us through other support channels.-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 pull-right">-->
        <!--<h4>Payment Details:</h4>-->
        <!--<ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">-->
        <!--<li>-->
        <!--<strong>V.A.T Reg #:</strong> 233243444-->
        <!--</li>-->
        <!--<li>-->
        <!--<strong>Account Name:</strong> Company Ltd-->
        <!--</li>-->
        <!--<li>-->
        <!--<strong>SWIFT code:</strong> 1233F4343ABCDEW-->
        <!--</li>-->
        <!--<li>-->
        <!--<strong>DATE:</strong> 01/01/2014-->
        <!--</li>-->
        <!--<li>-->
        <!--<strong>DUE:</strong> 11/02/2014-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bgcodeed">
              <thead>
              <tr>
                <th> # </th>
                <th class="hidden-480"> Order Type </th>
                <th class="hidden-480"> Description </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td> 1 </td>
                <td> Request Gcode </td>
                <td> {{vm.gcode.desc}} </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 invoice-block">
            <!-- <ul class="list-unstyled amounts text-small">
              <li>
                <strong>Total:</strong> {{vm.gcode.orderPrice |  currency: "$" : 0}}
              </li>
              <li>
                <strong>Discount:</strong> 0%
              </li>
              <li>
                <strong>Tax:</strong> 0%
              </li>
              <li class="text-extra-large text-dark margin-top-15">
                <strong >Amount:</strong> {{vm.gcode.orderPrice |  currency: "$" : 0}}
              </li>
            </ul> -->
            <br>
            <a onclick="javascript:window.print();" class="btn btn-lg btn-primary hidden-print">
              Print <i class="fa fa-print"></i>
            </a>
            <!-- <button ng-disabled="vm.gcode.status=='PAYED'" class="btn btn-lg btn-primary btn-o hidden-print" ng-click="vm.payGcode({gcodeId:vm.gcode._id, payFromPlan:false})">
              Buy <i class="fa fa-check"></i>
            </button> -->
            <button ng-disabled="vm.gcode.status=='PAYED'" class="btn btn-lg btn-primary btn-o hidden-print" ng-click="vm.payGcode({gcodeId:vm.gcode._id, payFromPlan:true})">
              Buy<i class="fa fa-check"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<section>-->
  <!--<div class="page-header">-->
    <!--<h1 ng-bind="vm.gcode.name"></h1>-->
  <!--</div>-->
  <!--<div class="pull-right"-->
       <!--ng-show="vm.gcode.isCurrentUserOwner">-->
    <!--<a class="btn btn-primary"-->
       <!--ui-sref="gcodes.edit({ gcodeId: vm.gcode._id })">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" ng-click="vm.remove()">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--<small>-->
    <!--<em class="text-muted">-->
      <!--Posted on-->
      <!--<span ng-bind="vm.gcode.created | jDate"></span>-->
      <!--by-->
      <!--<span ng-if="vm.gcode.user"-->
            <!--ng-bind="vm.gcode.user.displayName"></span>-->
      <!--<span ng-if="!vm.gcode.user">Deleted User</span>-->
    <!--</em>-->
  <!--</small>-->
  <!--<p class="lead" ng-bind="vm.gcode.content"></p>-->
<!--</section>-->

