<section>
  <div class="page-header">
    <h1>کاربر <span ng-bind="vm.user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">نام</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">نام خانوادگی</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="coName">نام شرکت</label>
          <input type="text" id="coName" name="lastName" class="form-control" ng-model="vm.user.coName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.coName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">دسترسی ها</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="coName">اعتبار</label>
          <input type="text" id="credit" name="credit" class="form-control" ng-model="vm.user.credit" placeholder="credit" required />
          <div ng-messages="vm.userForm.credit.$error" role="alert">
            <p class="help-block error-text" ng-message="required">credit is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="creditPlan.totalorder">تعداد طراحی باقیمانده</label>
          <input type="text" id="creditPlan.totalorder" name="creditPlan.totalorder" class="form-control" ng-model="vm.user.creditPlan.totalorder" placeholder="creditPlan.totalorder" required />
          <div ng-messages="vm.userForm.creditPlan.totalorder.$error" role="alert">
            <p class="help-block error-text" ng-message="required">creditPlan Count is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="expireCreditDate">تاریخ پایان بسته طراحی</label>
          <input type="text" id="expireCreditDate" name="expireCreditDate" class="form-control" ng-model="vm.user.expireCreditDate" placeholder="expireCreditDate" required />
          <div ng-messages="vm.userForm.expireCreditDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">expireCreditDate is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="gcodePlan.totalorder">تعداد جیکد باقیمانده</label>
          <input type="text" id="gcodePlan.totalorder" name="gcodePlan.totalorder" class="form-control" ng-model="vm.user.gcodePlan.totalorder" placeholder="gcodePlan.totalorder" required />
          <div ng-messages="vm.userForm.gcodePlan.totalorder.$error" role="alert">
            <p class="help-block error-text" ng-message="required">gcode total order is required.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
      </fieldset>
    </form>
  </div>
</section>
