<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">مدیریت پرداخت ها</h1>
      <span class="mainDescription">
        مدیریت کاربران درون سیستم از این بخش انجام می شود
        </small></span>
    </div>

  </div>
</section>
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <h5 class="over-title margin-bottom-15">لیست <span class="text-bold">پرداخت ها</span></h5>
      <p>
جستجو بر اساس نام نقش و ای میل
      </p>
      <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="جستجو" ng-change="vm.figureOutItemsToDisplay()" />
      <table class="table table-striped table-hover" id="sample-table-2">
        <thead>
        <tr>
          <th>نام کاربری</th>
          <th class="hidden-xs">کد زرینپال</th>
          <th class="hidden-xs">نوع</th>
          <th class="hidden-xs">قیمت</th>
          <th class="hidden-xs">وضعیت</th>
          <th class="hidden-xs">نرم افزار</th>
          <th class="hidden-xs">تاریخ</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="paymentData in vm.pagedItems" ui-sref="admin.user({userId: user._id})">
          <td>{{paymentData.user.firstName}} {{paymentData.user.lastName}}</td>
          <td>{{paymentData.authority}}</td>
          <td>{{paymentData.type}}</td>
          <td>{{paymentData.price}}</td>
          <td style="text-align: left; direction: ltr;">{{paymentData.state}}</td>
          <td>{{paymentData.software}}</td>
          <td>{{paymentData.created}}</td>
        </tr>
        </tbody>



      </table>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</div>


