<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">User Management</h1>
    </div>

  </div>
</section>
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <h5 class="over-title margin-bottom-15"><span class="text-bold">Users</span></h5>
      <p>
        Search based on role and email
      </p>
      <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="search" ng-change="vm.figureOutItemsToDisplay()" />
      <table class="table table-striped table-hover" id="sample-table-2">
        <thead>
        <tr>
          <th class="center">Profile Picture</th>
          <th>Username</th>
          <th class="hidden-xs">Roles</th>
          <th class="hidden-xs">Email</th>
          <th class="hidden-xs">Phpne Number</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})">
          <td class="center"><img width="64px" src="{{user.profileImageURL}}" class="img-rounded" alt="image"/></td>
          <td>{{user.username}}</td>
          <td class="hidden-xs">{{user.roles}}</td>
          <td class="hidden-xs">
            <a href="#" rel="nofollow" target="_blank">
              {{user.email}}
            </a></td>
          <td class="hidden-xs"></td>
          <td class="center">
            <div class="visible-md visible-lg hidden-sm hidden-xs">
              <a href="#" ui-sref="admin.user-edit({userId: user._id})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
            </div>
            <div class="visible-xs visible-sm hidden-md hidden-lg">
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle>
                  <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                  <li>
                    <a href="#" ui-sref="admin.user-edit({userId: user._id})">
                      Edit
                    </a>
                  </li>

                </ul>
              </div>
            </div></td>
        </tr>
        </tbody>



      </table>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</div>


