<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle">لیست اعتبارات</h1>
        <span class="mainDescription">              فیش های ثبت شده کاربران برای اختصاص یافتن باید تایید شود
</span>
      </div>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover" id="sample-table-2">
          <thead>
          <tr>
            <th>ردیف</th>
            <th>تصویر</th>
            <th>کاربر</th>
            <th>تاریخ</th>
            <th class="hidden-xs">شماره فیش</th>
            <th class="hidden-xs">مبلغ فیش</th>
            <th>وضعیت پرداخت</th>
            <th>عملیات</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="usercredit in vm.usercredits track by $index">
            <td>{{$index+1}}</td>
            <td class="right">
              <img ng-show="usercredit.user.profilePicUrl" src="{{usercredit.user.profilePicUrl}}" class="img-rounded" alt="/modules/users/client/img/profile/default.png"/>
              <img ng-show="!usercredit.user.profilePicUrl" class="img-circle" style="width: 32px" ng-src="/modules/users/client/img/profile/default.png" src="/modules/users/client/img/profile/default.png">
            </td>
            <td>{{usercredit.user.displayName}}</td>
            <td class="hidden-xs"><span ng-bind="usercredit.created | jDate"></span></td>
            <td class="hidden-xs">{{usercredit.fishNumber}}</td>
            <td class="hidden-xs">{{usercredit.fishPrice}}</td>

            <td><span ng-show="usercredit.status==false"><button class="btn btn-sm btn-primary" ng-click="vm.verify(usercredit)">
            <i class="fa fa-cart-plus"></i>
              تایید پرداخت

            </button></span>
              <span class="label-success label" ng-show="usercredit.status==true">تایید شده</span>
            </td>

            <td class="center">

              <!--<div class="visible-md visible-lg hidden-sm hidden-xs">-->

                <a href="#"ng-show="usercredit.status!=true"  class="btn btn-sm btn-dark-green" tooltip-placement="top" tooltip="Edit"
                   ui-sref="usercredits.edit({ usercreditId: usercredit._id })"><i class="fa fa-pencil"></i>
                ویرایش
                </a>
              <!--</div>-->
              <!--<div class="visible-xs visible-sm hidden-md hidden-lg">-->
                <!--<div class="btn-group" dropdown>-->
                  <!--<button type="button" class="btn btn-primary btn-sm dropdown-toggle"-->
                          <!--dropdown-toggle>-->
                    <!--<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>-->
                  <!--</button>-->
                  <!--<ul class="dropdown-menu pull-right dropdown-light" role="menu">-->
                    <!--<li>-->
                      <!--<a href="#">-->
                        <!--ویرایش-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="#">-->
                        <!--حذف-->
                      <!--</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  </section>
</div>

