<section class="row">
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Required!</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Required!</p>
          </div>
        </div>

        <div class="form-group">
          <label for="coName">Company</label>
          <input type="text" id="coName" name="coName" class="form-control" ng-model="vm.user.coName" placeholder="Company">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" class="form-control" ng-model="vm.user.city" placeholder="City">
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.user.phone" placeholder="+985130000000">
        </div>

        <!-- <div class="form-group">
          <label for="bankid">شماره حساب، کارت، شبا</label>
          <input type="text" id="bankid" name="bankid" class="form-control" ng-model="vm.user.bankid" placeholder="+985130000000">
        </div> -->

        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Required!</p>
            <p class="help-block error-text" ng-message="email">Not Valid!</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Required!</p>
          </div>
        </div>

        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
